<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error || Final</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <!-- Navbar  -->
    <div class="external-navbar"></div>
    <!-- end of Navbar -->
    <main class="page error-page">
      <section>
        <h1>404</h1>
        <h3>page not found</h3>
      </section>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">MyRecipeBook</span> Designed by
        <a href="about.html">The Coders</a>
      </p>
    </footer>
  </body>
  <script src="./scripts/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.external-navbar').load("{{ url_for('navbar') }}")
    })
  </script>
  <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>

</html>
