<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags || Final</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css') }}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}" />
  </head>
  <body>
    <!-- section  -->
    <!-- Navbar  -->
    <div class="external-navbar"></div>
    <!-- end of Navbar -->
    <!-- end of section -->
    <main class="page">
      <section class="tags-wrapper">
        <!-- single tag -->
        <a href="/tag_template" class="tag">
          <h5>Appetizers</h5>
          <p>1 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="/tag_template" class="tag">
          <h5>Soups</h5>
          <p>2 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="/tag_template" class="tag">
          <h5>Main course</h5>
          <p>3 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="/tag_template" class="tag">
          <h5>Desserts</h5>
          <p>4 recipe</p>
        </a>
        <!-- end of single tag -->
      </section>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">MyRecipeBook</span> Designed by
        <a href="/about">The Coders</a>
      </p>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='./scripts/jquery.min.js') }}"></script>
  <script type="text/javascript">
    $(function () {
      $('.external-navbar').load("{{ url_for('navbar') }}")
    })
  </script>
  <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>

</html>
