<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spicy Shrimp</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css') }}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}" />
  </head>
  <body>
    <!-- section  -->
    <!-- Navbar  -->
    <div class="external-navbar"></div>
    <!-- end of Navbar -->
    <!-- end of section -->
    <main class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="{{ url_for('static', filename='./assets/recipes/recipe-3.jpeg') }}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>SPICY SAUTÉED SHRIMP</h2>
            <p>
              Call it sautéed spicy shrimp or masala shrimp, basically it is
              shrimp cooked with Indian spices without any sauce. It is big on
              flavor, of course, but the shrimp in this recipe are cooked just
              right unlike many other Indian style recipes.
            </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>1 hr 30 mins.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>1 hr 0 mins.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>4 servings</p>
              </article>
            </div>
          </article>
          <!-- Youtube link -->

          <a class="cta" href="#google">Watch Recipe Video</a>

          <div id="google" class="modaloverlay">
            <div class="modal">
              <a href="#close" class="close">&times;</a>
              <div>
                <h1>How to prepare Spicy Shrimp</h1>
                <div class="hs-responsive-embed-youtube">
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/ihqiZsUwW2o"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <!-- Youtube link -->
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1</p>
                <div></div>
              </header>
              <p>
                Spice mixture: Combine desiccated coconut, ginger, garlic, chili
                powder, ground coriander, turmeric, garam masala, salt and
                pepper.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                Toss: Pat the shrimp dry and toss to coat well with the masala
                mixture.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3</p>
                <div></div>
              </header>
              <p>
                Cook: Heat oil in a skillet and cook the shrimp in a single
                layer until they curl slightly and turn just opaque.
              </p>
            </div>
            <div class="single-instruction">
              <header>
                <p>step 6</p>
                <div></div>
              </header>
              <p>
                Serve: Garnish with cilantro, green onions and lemon wedges.
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <p class="single-ingredient">Shrimp</p>
              <p class="single-ingredient">Spices</p>
              <p class="single-ingredient">Ginger, Garlic and spices</p>
            </div>
            <div>
              <h4>tools</h4>
              <p class="single-tool">Large Heavy Pot With Lid</p>
              <p class="single-tool">Cast Iron Skillet</p>
              <p class="single-tool">Spatula</p>
            </div>
          </article>
        </section>
        <section class="recipe-content">
          <div>
            <canvas id="spicy-shrimp-line-chart"></canvas>
          </div>
          <div>
            <canvas id="spicy-shrimp-pie-chart"></canvas>
          </div>
        </section>
      </div>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">MyRecipeBook</span> Designed by
        <a href="/about">The Coders</a>
      </p>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='./scripts/min.chart.js') }}"></script>
  <script>
    // Spicy Shrimp Charts

    // Spicy Shrimp Line Chart
    const line_data = {
      ctx: document.getElementById('spicy-shrimp-line-chart'),
      type: 'line',
      title: 'Popularity of Spicy Shrimp over the years',
      data: [10, 15, 14, 16, 18, 18],
      label: 'Years',
      labels: ['2010', '2012', '2014', '2016', '2018', '2020 '],
    }

    const line_config = {
      type: line_data.type,
      options: {
        plugins: {
          title: {
            display: true,
            text: line_data.title,
          },
        },
      },
      data: {
        labels: line_data.labels,
        datasets: [
          {
            label: line_data.label,
            data: line_data.data,
            borderWidth: 1,
          },
        ],
      },
    }

    new Chart(line_data.ctx, line_config)

    //Spicy Shrimp Pie Chart
    const pie_data = {
      ctx: document.getElementById('spicy-shrimp-pie-chart'),
      type: 'pie',
      title: 'Nutrition Facts: Total 548 Cal per 1 serving of Spicy Shrimp',
      data: [30, 30, 12, 29, 6, 4],
      labels: [
        'Fat',
        'Cholesterol',
        'Sodium',
        'Carbohydrates',
        'Protein',
        'Potassium ',
      ],
    }

    const pie_config = {
      type: pie_data.type,
      options: {
        plugins: {
          title: {
            display: true,
            text: pie_data.title,
          },
        },
      },
      data: {
        labels: pie_data.labels,
        datasets: [
          {
            label: pie_data.label,
            data: pie_data.data,
            borderWidth: 1,
          },
        ],
      },
    }

    new Chart(pie_data.ctx, pie_config)

    // end of Biryani Charts
  </script>
  <script src="{{ url_for('static', filename='./scripts/jquery.min.js') }}"></script>
  <script type="text/javascript">
    $(function () {
      $('.external-navbar').load("{{ url_for('navbar') }}")
    })
  </script>
  <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>

</html>
